@charset "UTF-8";

*{
    padding: 10px;
    margin: 10px;
}


html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

header{
    background-color: lightgray;
}

header menu{
    display: none;
}

article{
    width: 100%;
}

article::after{
    content: "Este conteúdo foi imprimido a partir do site";
}