@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
 * {
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte1:"Poppins", "Roboto", Verdana, sans-serif 
}
header{
    background-color: black;
    color: red;
    padding: 10px;
    margin-bottom: 50px;
    
}
.login{
    color: white;
    text-decoration: none;
    max-width: 100px;
    padding: 5px;
    
}
.login:hover{
    background: rgba(31, 30, 30, 0.539);
}
html, body{
    background-color: black;
    background-image: url(imagens/netflix.jpg);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-size: cover;
    font-family: var(--fonte1);
    color: #767676;
}
#principal{
    max-width: 600px;
    margin: auto;
    background-color: black;
    padding: 0px;
    border-radius: 20px;
}
article {
    max-width: 600px;
    margin: auto;
    background-color: black;
    color: white;
    padding:0px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}
div{
    padding: 20px;
}
.premium {
    background-image: linear-gradient(135deg, #1E519D, #752B69, #DA0D1D );
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 14px;
}
.botao{
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.botao:hover{
    background-color: white;
    color: red;
}
.botao a{
    text-decoration: none;
    color: white;
}
.vermelho{
    color: #E20914;
    font-weight: bolder;
}
.negrito{
    font-weight: bolder;
}
.populares{
    background-color: red;
    color: white;
    padding: 0.3em;
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
    max-width: 610px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}
.netflix{
    height: auto;
    max-width: 180px;
    margin-left: 150px;
    margin-top: 10px
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
}